peter_of_poitiers/final/final.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:wd="http://example.org/wikidata" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>daniels-prophecies</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2026-05-26+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="daniels-prophecies" source="teipublisher.odd">
            <elementSpec ident="app" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="lem"/>
            <param name="alternate" value="concat('V: ', rdg)"/>
            <outputRendition xml:space="preserve">

            </outputRendition>
        </model>
                </elementSpec>
        <elementSpec ident="persName" mode="change">
                    <model predicate="@ref" behaviour="inline">
            <param name="content" value="."/>
            <param name="ref" value="substring-after(@ref, '#')"/>
            <pb:template xmlns="" xml:space="preserve">
            <pb-popover xmlns="http://www.tei-c.org/ns/1.0" remote="/exist/rest/db/apps/tei-publisher/modules/lib/api/wikidata.xql?id=[[ref]]">
                <span slot="default">[[content]]</span>
                <span slot="alternate">Loading ...</span>
            </pb-popover>
        </pb:template>
            <outputRendition xml:space="preserve">
            color: #0b5c8a;
cursor: pointer;
text-decoration: underline dotted;
text-underline-offset: 0.15em;
transition: all 0.2s ease;
position: relative;
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="lem" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            text-decoration: underline dotted;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="rdg" mode="add"/>




            <elementSpec ident="standOff" mode="add">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="@type=&#34;title&#34;" behaviour="heading">
            <outputRendition xml:space="preserve">
            font-size: 2rem;
font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="@type=&#34;rubrica&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: red;
font-size: 1.5rem;
            </outputRendition>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="ex" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>

                <elementSpec ident="eventName" mode="change">
                    <model behaviour="inline">
            <param name="content" value="."/>
            <param name="ref" value="substring-after(@ref, '#')"/>
            <pb:template xmlns="" xml:space="preserve">
            <span xmlns="http://www.tei-c.org/ns/1.0" class="event-ref" id="[[ref]]">[[content]]</span>
        </pb:template>
        </model>
                </elementSpec>


            </schemaSpec>
        </body>
    </text>
</TEI>