nota_de_sacramento/new-directory/odd-final.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Desacramento ODD</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2026-05-27+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="odd-v2" source="teipublisher.odd"> <elementSpec ident="abbr" mode="add">
                    <model behaviour="inline" cssClass="tei-abbr">
            <outputRendition xml:space="preserve">
            display: none;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="am" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            font-style: italic;
font-size: 0.8em;
vertical-align: super;
color: #7a4f1e;
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="app" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="lem"/>
            <param name="alternate" value="rdg"/>
            <outputRendition xml:space="preserve">
            color: #b8860b;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="cb" mode="change">
                    <model behaviour="break" cssClass="tei-cb">
            <param name="type" value="'column'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model predicate="sic and corr" behaviour="alternate">
            <param name="default" value="corr[1]"/>
            <param name="alternate" value="sic[1]"/>
        </model>
                    <model predicate="abbr and expan" behaviour="pass-through"/>
                    <model predicate="orig and reg" behaviour="alternate">
            <param name="default" value="reg[1]"/>
            <param name="alternate" value="orig[1]"/>
        </model>
                </elementSpec>
                <elementSpec ident="expan" mode="add">
                    <model behaviour="inline" cssClass="tei-expan">
            <outputRendition xml:space="preserve">
            display: inline; 
border-bottom: 1px;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model behaviour="inline" useSourceRendition="true">
            <param name="type" value="null"/>
        </model>
                </elementSpec>
                <elementSpec ident="lem" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            text-decoration: underline solid #000000; 
text-decoration-thickness: 1px;
text-underline-offset: 3px;
cursor: pointer;
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            margin-bottom: 0.5em;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                        level</desc>
            <outputRendition xml:space="preserve" scope="before">
            content: '‘';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '’';
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: #008000;
            </outputRendition>
        </model>
                    <model behaviour="block" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                        level</desc>
            <outputRendition xml:space="preserve">
            margin-left: 10px; margin-right: 10px;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="i" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="heading" mode="add">
                    <model behaviour="heading">
            <outputRendition xml:space="preserve">
            font-size: 200%;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="rdg" mode="add"/>
                <elementSpec ident="note" mode="change">
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
            <outputRendition xml:space="preserve">
            font-size: 0.8em;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change"/>
                <elementSpec ident="fol" mode="add">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
font-size: 0.85em;
text-align: center;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="strong" mode="add"/>
            </schemaSpec>
        </body>
    </text>
</TEI>